@font-face {
    font-family: 'Ram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

#social .button-icon {
  filter: invert(1) brightness(2);
}

body {
  margin: 0;
  background-color: rgb(19, 29, 40);
}

body * {
  color: rgb(255,255,255);
  font-family: Ram;
}